# ==========================
# Dependencies
# ==========================
node_modules/

# ==========================
# Environment variables
# ==========================
.env
.env.*
!.env.example

# ==========================
# Prisma
# ==========================
src/generated/prisma/
prisma/dev.db
prisma/dev.db-journal

# ==========================
# Logs
# ==========================
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ==========================
# Coverage
# ==========================
coverage/

# ==========================
# Build
# ==========================
dist/
build/

# ==========================
# IDEs
# ==========================
.vscode/
.idea/

# ==========================
# Operating System
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Temporary files
# ==========================
.tmp/
.temp/
.cache/

# ==========================
# Tests
# ==========================
.nyc_output/

# ==========================
# Miscellaneous
# ==========================
*.tgz